body {
  margin: 0;
  padding: 0;
  background-color: #121212 !important;
}
.fin-trivia{
  background-image: url("../Imagenes/Felicidades.gif");
  background-size: cover;
  background-position: -200px, 400px;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  transition: 3s;
}
.notificacion-feedback{
  margin-top: 0.50rem !important;
}
.container-feedback{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.titulo-feedback{
  color: #000;
  font-size: 133%;
}
.btn-feedback{
  margin-top: 2rem !important;
}
.btn-volver{
  margin-top: 5rem !important;
}
th,tr,span,p,h6,h5,h4,h3,h2,h1
{
  font-family: 'Work Sans', sans-serif !important;
}
.titulo-tabla-puntajes{
  margin-top:2rem !important;
  margin-bottom: 4rem !important;
  display: flex;
  justify-content: center;
  color: #fff;
}
.opcion{
  margin-bottom: 0.50rem !important;
}

.trivia-actual{
  display: flex;
  justify-content: center;
  color: #fff;
}
.titulo-home{
  margin-bottom: 2rem !important;
  margin-top: 0.50rem !important;
}

.subtitulo-home{
  margin-top: 1rem !important;
  margin-bottom: 1.50rem !important;
}

.container{
  color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #424242;
}
.titulo{
  display: flex;
  justify-content:center;
}

@media (min-width:320px) and (max-width:540px){

  .home-paper{
    margin-top: 12rem;
  }
  h1{
    font-size: 200%;
  }
  h6{
    font-size: 116% !important;
  }
}

@media (min-width:540px) and (max-width:1200px){

  .home-paper{
    margin-top: 8rem;
  }
}